<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.poiin.yourown" android:versionCode="1"
	android:versionName="1.0">
	<uses-sdk android:minSdkVersion="8" />

	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:name="com.poiin.yourown.ApplicationState" android:debuggable="true">
		<activity android:name="Main" android:launchMode="singleInstance" android:screenOrientation="portrait"
			android:alwaysRetainTaskState="true" android:label="@string/app_name">
		</activity>
		<activity android:name=".social.facebook.FacebookAuthentication" android:screenOrientation="portrait"
			android:noHistory="true" android:label="@string/app_name">
		</activity>
		<activity android:name=".social.twitter.TwitterAuthentication" android:screenOrientation="portrait"
			android:noHistory="true" android:label="@string/app_name">
		</activity>
		<activity android:name=".social.twitter.TwitterAuthenticated" android:screenOrientation="portrait"
			android:noHistory="true" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="OauthTwitter" android:host="twitt" />
			</intent-filter>
		</activity>		
		<activity android:name="ProfileActivity" android:label="@string/app_name" android:screenOrientation="portrait">
		</activity>
		<activity android:name="LoginSelectionActivity" android:screenOrientation="portrait"
			android:label="@string/app_name">
		</activity>
		<activity android:name="NewMessageActivity" android:label="@string/app_name" android:screenOrientation="portrait"
			android:noHistory="true">
		</activity>
		<activity android:name="MessageReceivedActivity" android:screenOrientation="portrait"
			android:label="@string/app_name" android:noHistory="true">
		</activity>
		<activity android:name="FirstTimeProfileActivity" android:screenOrientation="portrait"
			android:label="@string/app_name" android:noHistory="true">
		</activity>
		<activity android:name="PoiinerDetailsActivity" android:screenOrientation="portrait"
			android:noHistory="true" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:scheme="poiin" />
			</intent-filter>
		</activity>
		<activity android:name="StartActivity" android:label="@string/app_name" android:screenOrientation="portrait"
			android:noHistory="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<service android:name="PoiinBackgroundService" />

		<uses-library android:name="com.google.android.maps" />
	</application>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>